6nohUUzkqna0JwyX-My_workflow_5.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "64d3e329-d173-48db-9f3f-6f0325750bfd",
      "name": "Telegram Trigger",
      "webhookId": "a2472f3f-2ee7-42ec-b418-6db645211859",
      "credentials": {
        "telegramApi": {
          "id": "J5MtIzhFsiweveo2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an email and calendar assistant. Based on the user’s request, you will perform one or more of the following: Summarize an email, Send an email, and/or Create a Google Calendar event.\n\nAfter completing the task, return only an execution report in the following mandatory format:\n\nTask Performed:\n[Email Summary / Email Sent / Email Summary & Sent / Calendar Event Created / Email & Calendar Task]\n\nDetails:\n\nIf summarized: Briefly state the email was summarized.\n\nIf sent: State the recipient email address.\n\nIf calendar event created: State the event title and scheduled time.\n\nStatus:\nSuccess\n\nRules:\nDo not include the actual email content or body unless explicitly requested.\n\nDo not explain your reasoning or provide commentary.\n\nKeep the report short, factual, and strictly adherent to the format.\n\nNo greetings, signatures, or extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "555e0758-c863-4a8d-a353-faa59836e19a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        208
      ],
      "id": "03052320-e824-4b0d-a1ac-c3744b53c48c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UI0RlzrKilp7lltk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        368,
        208
      ],
      "id": "75c05fdb-6b91-46d1-be06-ad2f6b86e5c2",
      "name": "Get many messages in Gmail",
      "webhookId": "316cd650-4184-4ae4-a900-98a4adbae105",
      "credentials": {
        "gmailOAuth2": {
          "id": "T9HJBGKXRpsR0SvM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        0
      ],
      "id": "f9870c47-ede7-44b0-abfa-757a0e890365",
      "name": "Send a text message",
      "webhookId": "d3da8b13-c8e6-4997-a657-bf92b5ef1e34",
      "credentials": {
        "telegramApi": {
          "id": "J5MtIzhFsiweveo2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        528,
        208
      ],
      "id": "7aa3a6a8-fa39-4e0a-816c-6199ee2ad710",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "iaGXuwEwmpgMchiQ",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}