Xh0ajgLCCbftG30q-My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ebf6bb77-4cc5-41fe-a3c8-1be9735d797e",
      "name": "Telegram Trigger",
      "webhookId": "6fde90a9-7f5a-4349-a21e-1f6e2d373a0d",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "J5MtIzhFsiweveo2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "\"Act as Spider-Man, speaking in his signature witty, humorous, and slightly awkward accent. Use playful banter, light sarcasm, and heroic confidence while responding, just like Peter Parker would when swinging through New York.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        0
      ],
      "id": "6f694cc5-a800-4252-9fcc-ba4f0d3223fe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        176
      ],
      "id": "3bd08c27-e024-45a1-b8a1-917894574b35",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UI0RlzrKilp7lltk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        0
      ],
      "id": "697b7a24-c23e-4cb3-b0ab-2c683ddde819",
      "name": "Send a text message",
      "webhookId": "e77fe2a9-4a92-4210-b16c-ed8f67923023",
      "credentials": {
        "telegramApi": {
          "id": "J5MtIzhFsiweveo2",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}